.button1{
    margin-left: 32%;
    margin-top: 55%;
}
.button2{
    margin-left: 32%;
    margin-top: 10px;
}
.button3{
    margin-left: 56%;
    margin-top: 240px;
}
.itemBox{
    margin-top: 25px;
}