<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>


<ion-item class="itemBox" *ngFor="let i of usuario" >
  <h1>  Bienvenido {{i.name}}</h1>
<ion-avatar slot="start">
  <img [routerLink]="['/perfil']" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>

</ion-item>

<ion-content class="ion-padding">
  <ion-card-header *ngFor="let keyValuePair of usuario | keyvalue">
    <ion-card-title>{{ keyValuePair.key }}</ion-card-title>
    <ion-card-subtitle>{{ keyValuePair.value }}</ion-card-subtitle>
  </ion-card-header>
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/scan-qr']" expand="block" shape="round">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Escanear   QR.
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="success" [routerLink]="['/asist-register']" expand="block" shape="round">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        Ver Asistencia 
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="logout()" color="danger" expand="block" shape="round">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Cerrar sesión 
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
