ion-content {
    --background: black;
}

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.container {
   // -webkit-animation:rotate-center 1s ease-in-out both;animation:rotate-center 1s ease-in-out both;
    img {
        -webkit-animation:rotate-center 1s ease-in-out both;animation:rotate-center 3s ease-in-out both;
        height: 100px;
        margin-top: 60%;
    }
    h5 {
        margin-bottom: 10px;
    }
}

