<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Eliminar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  
  <ion-button (click)="probandoStorage()" shape="round" color="warning">Metodo Set</ion-button>
  <ion-button (click)="recuperarData()" shape="round" color="success">Metodo Get</ion-button>

</ion-content>

recuperarData()