x<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
    </ion-back-button>
    <ion-title>Scan QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>
      <ion-button [routerLink]="['/register-assit']" style="margin-left: 19%;">
        Escanea el código QR 
      </ion-button>
    </ion-card-title>
  </ion-card-header>
</ion-card>

<ion-footer>
  <ion-toolbar color = "primary">
    <ion-button slot="end">
      <ion-button [routerLink]="['/bienvenido']">Volver al inicio</ion-button>
    </ion-button>
  </ion-toolbar>
</ion-footer>
