<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Correo Electronico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="resetPassword()" shape="round" color="success" expand="block">Recuperar Contraseña</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>

